<div class="header bg-gradient-nambi pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Page Tabs -->
      <div class="container page-menu">
        <div class="row">
          <div class="col-sm active">
            <span>All Employees</span>
          </div>
          <div class="col-sm">
            <span>Daily List</span>
          </div>
          <div class="col-sm">
            <span>Daily Summery</span>
          </div>
        </div>
      </div>
      <!-- Card stats -->
      <div class="row m-0">
        <form style="width: 100%;">
          <div class="row my-row">
            <div class="col-md-12 col-xl-8">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                      </div>
                      <input class="form-control" placeholder="Search" type="text">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <select placeholder="Regular" class="form-control">
                      <option value="All Departments">All Departments</option>
                      <option>Medical</option>
                      <option>Coding</option>
                      <option>Human Resource</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <select placeholder="Regular" class="form-control">
                      <option value="All Departments">All Statuses</option>
                      <option>Red</option>
                      <option>Green</option>
                      <option>Yellow</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-xl-4">
              <!--row and-more-->
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-default" type="button">Search</button>
                </div>
                <div class="col-md-8">
                  <button class="btn btn-icon btn-3 btn-default" type="button">
                    <span class="btn-inner--text">Upload Employees</span>
                  </button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-0">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Employees</th>
                <th scope="col">Depratment</th>
                <th scope="col">Job Title</th>
                <th scope="col">Employee Status</th>
                <th scope="col">Patient Connection</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> </th>
                <td> </td>
                <td> </td>
                <td>Contractor </td>
                <td> Accepted </td>
              </tr>
              <tr>
                <th scope="row"> </th>
                <td> </td>
                <td> </td>
                <td>Part-Time </td>
                <td> Queued </td>
              </tr>
              <tr>
                <th scope="row"> </th>
                <td> </td>
                <td> </td>
                <td>Full Time </td>
                <td> Invited </td>
              </tr>
              <tr>
                <th scope="row"> </th>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> Declined </td>
              </tr>
              <tr>
                <th scope="row"> </th>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> Not-Invited </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>